body {
  background-color: mintcream;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
  border-radius: 40px;
}

.search-form-input {
  background-color: lightgrey;
  border: none;
  border-radius: 10px;
  max-width: 80%;
  padding: 15px 20px;
  font-size: 18px;
}

.search-form-button {
  background-color: lightgrey;
  padding: 15px 20px;
  border: none;
  margin-left: 5px;
  max-width: 80%;
  border-radius: 10px;
  font-size: 18px;
}
